html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.green {
    background-color: #008000;
    width: calc(100% - 80px);
    height: calc(100% - 40px);
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 6px;
    top: calc(50% - ((100% - 40px) / 2));
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.blue {
    background-color: #1E90FF;
    width: 300px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

.yellow {
    background-color: #ff0;
    width: 100%;
    height: 50px;
    display: inline-block;
    position: relative;
}

.height-100px {
    height: 100px;
}

.height-150px {
    height: 150px;
}

.height-400px {
    height: 400px;
}

.blue:nth-child(1) > .yellow:nth-child(even) {
    background-image: linear-gradient(to bottom, #fff, #000);
}

.blue:nth-child(1) > .yellow:nth-child(odd) {
    background-image: linear-gradient(to top, #fff, #000);
}

.blue:nth-child(2) > .yellow:nth-child(3n+1) {
    background-image: url("image/cat.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid transparent;
    box-sizing: border-box;
    border-image: linear-gradient(to right, #ff0000 0%, #0000ff 100%) 1;
}

.blue:nth-child(2) > .yellow:hover:nth-child(3n+2), .blue:nth-child(2) > .yellow:hover:nth-child(3n+3) {
    box-shadow: -12px -15px 5px 1px #868484;
    background-color: #1422c3fc;
    transition: background-color 0.5s;
}

.blue:nth-child(2) > .yellow:nth-child(odd) {
    border: 10px dotted #000;
    box-sizing: border-box;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue:nth-child(2) > .yellow:nth-child(odd):after {
    content: "Lorem ipsum dolor sit amet";
    color: #008000;
    font-size: 16px;
    font-weight: bold;
}

.blue:nth-child(2) > .yellow:hover:nth-child(odd) {
    border: 10px dotted #fff;
    transition: 2s;
}

.blue:nth-child(3) > .yellow.height-400px:after {
    content: "";
    background-color: #E6E6FA;
    width: 100%;
    height: 100%;
    display: block;
}

.blue:nth-child(3) > .yellow.height-400px:hover:after {
    transform: translateX(100%) translateY(30px) rotateX(180deg);
    opacity: 0;
    transition: 1.5s;
}

.blue:nth-child(4) > .yellow:nth-child(even) {
    background-image: url("image/paw.svg");
    background-size: 50px 50px;
    background-repeat: no-repeat;
}

.blue:nth-child(4) > .yellow:nth-child(even):hover {
    background-position: right bottom;
    transition: 1.3s;
}

.blue:nth-child(5) > .yellow:not(.height-150px):hover {
    background-color: #ff0000;
    width: calc(100% - 30px);
    top: -10px;
    left: -10px;
    box-shadow: 13px 14px 11px #333;
    transition: 0.5s;
}
